._ {
   display: flex;
   margin-top: 1rem;
   color: #5e5e5e;

   li {
      padding: 1rem;
      cursor: pointer;
      transition: .2s;
   }
}

.active, ._ li:hover {
   text-decoration: underline;
   transform: scale(1.3);
}

.active {
   color: initial;
}